*{
    margin: 0;
}

body {
    font-family:Verdana,sans-serif;font-size:15px;line-height:1.5;
    background-image : url("chat.jpg") ;
}

textarea {
    overflow: hidden;   
    font-size: larger;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    padding: 0px;    
    border: 0px;
    resize: none;
    background-color: white !important; 
}
#calculator {
    border-radius: 5px;
    position: fixed;
    width : 250px;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    background-color: #4B4749;
}

ul {
    color: white;
    font-size: 20px;
    font-weight: normal;
    padding: 0px;
    width : 100%;
}

li {
    cursor: pointer;
    display: inline-block;

    text-align: center;
    width: 25%;
    height: 60px;
    line-height: 60px;
}

li:hover {
    background-color: #777375;
}

/*Footer Style*/

footer {
    position : absolute;
    left : 0;
    bottom : 0;
    width : 100%;
    color : black;
    text-align : center;
 }
.copyright { 
    color : rgba(0, 0, 0, 0.75); 
    text-shadow : 0 1px rgba(255, 255, 255, 0.2);
}
